<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=windows-1252">
<TITLE>MikroBUS Large Module</TITLE>
</HEAD>
<BODY LANG="en-US" DIR="LTR">
<P>This project template is the basis of an expansion board for the
MikroBUS system. It contains the Large ("L") size layout (57.15mm / 2250 mils board length).</P>

<P><IMG SRC="brd.png" NAME="brd" ALIGN=BOTTOM BORDER=0></P>

<P>(c)2019 Trevor R.H. Clarke.<BR></P>
<P>(c)2023 Brice Lecole.<BR></P>
